﻿<div id="main" class="container">
    <div class="row">
        <div class="col-xs-6">
            <h3>Добавление новой банкноты</h3>
            <form [formGroup]="banknotesForm">
                <div class="form-group">
                    <label for="width">Ширина</label>
                    <input formControlName="width" id="width" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="height">Высота</label>
                    <input formControlName="height" id="heigth" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="nominal">Номинал</label>
                    <input formControlName="nominal" id="nominal" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="year">Год выпуска</label>
                    <input formControlName="year" id="year" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="circulation">Тираж</label>
                    <input formControlName="circulation" id="circulation" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="country">Страна</label>
                    <input formControlName="country" id="country" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="material">Материал</label>
                    <input formControlName="material" id="material" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="image">Изображение</label>
                    <input formControlName="image" id="image" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea formControlName="description" id="description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input (click)="AddData()" class="btn btn-primary" type="button" value="Send">
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <h3>Загрузить список банкнот</h3>
            <table class="table table-bordered table-hover table-responsive">
                <tr><td *ngFor="let caption of captions">{{caption}}</td></tr>
                <tr *ngFor="let banknote of banknotes">
                    <td>{{banknote.Width}}</td>
                    <td>{{banknote.Height}}</td>
                    <td>{{banknote.Nominal}}</td>
                    <td>{{banknote.Year}}</td>
                    <td>{{banknote.Circulation}}</td>
                    <td>{{banknote.Country}}</td>
                    <td>{{banknote.Material}}</td>
                    <td>{{banknote.ImgSrc}}</td>
                    <td>{{banknote.Description}}</td>
                </tr>
            </table>
            <input (click)="LoadData()" class="btn btn-warning" type="button" value="Load">
        </div>
    </div>
</div>